<div class="navbar">
  <a href="/" class="navbar__logo">
    My Books App
  </a>
  <nav class="navbar__menu">
    <a href="/">
      Home
    </a>
    <a href="/books">
      Books
    </a>
    <a href="/books/add">
      Add Book
    </a>
  </nav>
</div>